In [2]:
from openpyxl import Workbook

In [3]:
wb = Workbook()

In [4]:
ws = wb.active

In [5]:
statue_data=[["Statue Name","Location","Height"],["Statue of Unity","Gujrat,India",597],["Spring Temple Buddha","Lushan,China",420],["Statue of Liberty","New York,US",151]]

In [6]:
for row in statue_data:
    ws.append(row)

In [7]:
wb.save("C:\\Users\\adity\\Desktop\\Statue\\sample.xlsx")

In [9]:
from openpyxl.chart import BarChart, Series, Reference

In [11]:
chart = BarChart()
chart.type="col"
chart.title="Statue Height"
chart.y_axis.title="Height (ft)"
chart.x_axis.title="Statue Name"
chart.legend= None

In [12]:
data = Reference(ws,min_col=3,min_row=2,max_row=4,max_col=3)
categories = Reference(ws,min_col=1,min_row=2,max_row=4,max_col=1)

In [13]:
chart.add_data(data)
chart.set_categories(categories)

In [14]:
ws.add_chart(chart,"E1")

In [37]:
wb.save("C:\\Users\\adity\\Desktop\\Statue\\sample.xlsx")

In [24]:
from openpyxl.styles import Font

In [29]:
ft = Font(bold=True,name="Ariel",size=12,italic=True,color="00FFFF")

In [31]:
for col in ws["A1:C1"]:
    for cell in col:
        cell.font=ft

In [33]:
wb.save("C:\\Users\\adity\\Desktop\\Statue\\sample.xlsx")

In [35]:
from openpyxl.styles import PatternFill
fill = PatternFill(fill_type="solid",start_color="FFFF00",end_color="FFFF00")

In [36]:
for col in ws["A1:C1"]:
    for cell in col:
        cell.fill=fill

In [57]:
from openpyxl import load_workbook

In [61]:
wb_new= load_workbook("C:\\Users\\adity\\Desktop\\car data 2.xlsx")

In [62]:
ws_new = wb_new["car data 2"]

In [63]:
for row in ws_new["A2:H11"]:
                  for cell in row:
                      print("Cell Value ->" + str(cell.value));

Cell Value ->Maruti Suzuki
Cell Value ->Maruti Alto 800
Cell Value ->354000
Cell Value ->Rs 3,45,829
Cell Value ->Rs 7,483
Cell Value ->0.098
Cell Value ->Rs 7,483
Cell Value ->None
Cell Value ->Hyundai
Cell Value ->Hyundai Santro
Cell Value ->477000
Cell Value ->Rs 3,95,829
Cell Value ->Rs 7,918
Cell Value ->0.098
Cell Value ->Rs 7,918
Cell Value ->Rs 65.983
Cell Value ->Tata Motors
Cell Value ->Tata Tiago
Cell Value ->554000
Cell Value ->Rs 5,50,000
Cell Value ->Rs 11,634
Cell Value ->0.099
Cell Value ->Rs 11,634
Cell Value ->Rs 95.9805
Cell Value ->Mahindra & Mahindra
Cell Value ->Mahindra KUV100 NXT
Cell Value ->696575
Cell Value ->Rs 6,26,575
Cell Value ->Rs 13,251
Cell Value ->0.098
Cell Value ->Rs 13,251
Cell Value ->None
Cell Value ->Kia
Cell Value ->Kia Sonet
Cell Value ->876039
Cell Value ->Rs 7,88,039
Cell Value ->Rs 16,666
Cell Value ->0.0989
Cell Value ->Rs 16,666
Cell Value ->Rs 137.355
Cell Value ->Toyota
Cell Value ->Toyota Glanza
Cell Value ->753904
Cell Value ->Rs 6,78,904
Cell Value ->Rs 14,358
Cell Value ->0.099
Cell Value ->Rs 14,358
Cell Value ->Rs 118.453
Cell Value ->Honda
Cell Value ->Honda Amaze
Cell Value ->793604
Cell Value ->Rs 7,14,604
Cell Value ->Rs 15,113
Cell Value ->0.098
Cell Value ->Rs 15,113
Cell Value ->Rs 123.422
Cell Value ->Renault
Cell Value ->Renault Kwid
Cell Value ->512632
Cell Value ->Rs 5,85,780
Cell Value ->Rs 9,763
Cell Value ->0.099
Cell Value ->Rs 9,763
Cell Value ->Rs 80.544
Cell Value ->Skoda
Cell Value ->Skoda Rapid TSI Rider
Cell Value ->780000
Cell Value ->Rs 6,21,665
Cell Value ->Rs 13,056
Cell Value ->0.095
Cell Value ->Rs 13,056
Cell Value ->Rs 103.36
Cell Value ->MG
Cell Value ->MG Astor
Cell Value ->1218961
Cell Value ->Rs 10,96,961
Cell Value ->Rs 23,199
Cell Value ->0.098
Cell Value ->Rs 23,199
Cell Value ->None

In [64]:
fill = PatternFill(fill_type="solid",start_color="FF0000",end_color="FF0000")
for row in ws_new["A2:H11"]:
                  for cell in row:
                      if cell.value is None:
                        cell.fill=fill

In [81]:
wb_new.save("C:\\Users\\adity\\Desktop\\Statue\\sample2.xlsx")

In [80]:
ws_new.insert_rows(5)

In [70]:
ws_new.delete_rows(5)

In [72]:
ws_new.insert_cols(5)

In [74]:
ws_new.delete_cols(5)

In [76]:
ws_new.merge_cells("A6:A7")

In [78]:
ws_new.unmerge_cells("A6:A7")